/* DESKTOP ONLY */
@media (min-width: 769px) {

    /* Navigation */
    #hamburger {
        display: none;
    }

    #navMenu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: static;
        width: auto;
        background: none;
        border: none;
    }

    #navMenu a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.5rem 1.2rem;
    }

    #navMenu a:hover {
        color: #3c54a3;
        border-bottom: 2px solid #2f1d91;
    }

    #navMenu a.active {
        background-color: #112941;
        color: rgb(250, 250, 250);
        border-radius: 5px;
    }

    /* Desktop layout */
    .join-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: start;
        padding: 2rem;
    }

    /* Right column sticky cards */
    .membership-cards {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: sticky;
        top: 2rem;

    }

    .benefits {
        text-align: center;
    }

    .benefits ul {
        display: inline-block;
        text-align: left;
        padding-left: 1.5rem;
        margin: 1rem auto;
    }

    .benefits li {
        margin-bottom: 0.5rem;
    }

    /* Form styling */
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background: #6c7e92;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(56, 55, 55, 0.1);
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    form label {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    form input,
    form select,
    form textarea {
        padding: .6rem;
        border: 1px solid #e0bfbf;
        border-radius: 5px;
        font-size: 1rem;
    }

    form button {
        padding: .8rem;
        background: #004b8d;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        cursor: pointer;
        margin-top: 1rem;
    }

    form button:hover {
        background: #003b6d;
    }

    /* Cards */
    .card {
        background: rgba(96, 112, 121, 0.418);
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(8, 6, 6, 0.1);
        text-align: center;
    }

    .card h3 {
        margin-bottom: .5rem;
    }

    .card button {
        padding: .5rem .8rem;
        background: #004b8d;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .card button:hover {
        background: #003b6d;
    }

    /* Hero desktop fix */
    .hero {
        max-height: 600px;
        overflow: hidden;
        position: relative;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        padding: 1rem 2rem;
        position: absolute;
        text-align: center;
    }

    .card {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s ease forwards;
    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }



}

@media (min-width: 64rem) {
    #discoverCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .place-card img:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
    }
}

@media (min-width: 641px) and (max-width: 1023px) {

    #discoverCards .place-card {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "image name"
            "image description"
            "image address"
            "image button";
        gap: 1rem;
        align-items: start;
        padding: 1rem;
    }

    #discoverCards .place-card h2 {
        grid-area: name;
        margin: 0;
    }

    #discoverCards .place-card figure {
        grid-area: image;
        margin: 0;
    }

    #discoverCards .place-card p {
        grid-area: description;
        margin: 0;
    }

    #discoverCards .place-card address {
        grid-area: address;
        margin: 0;
    }

    #discoverCards .place-card .button {
        grid-area: button;
        width: fit-content;
    }
}