@media (min-width: 769px) {

    #hamburger {
        display: none;
    }

    #navMenu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: static;
        width: auto;
        background: none;
        border: none;
    }

    #navMenu a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.5rem 1.2rem;
    }

    #navMenu a:hover {
        color: #3c54a3;
        border-bottom: 2px solid #2f1d91;
    }

    #navMenu a.active {
        background-color: #112941;
        color: white;
        border-radius: 5px;
    }
}