@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    #navMenu {
        display: flex;
        gap: 1.5rem;
    }
}


#tools-container {
    display: grid;
    gap: 1rem;
}

@media (min-width: 768px) {
    #tools-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

}

@media (min-width: 768px) {
    #navMenu a {
        display: inline-block;
        padding: 0.75rem 1rem;
    }
}